[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = git@bitbucket.org:cdubach/cdubach.bitbucket.org.git
	branch = master
